<div>
  {{#if productos.error}}
    <p>{{productos.error}}</p>
  {{else}}
    <h1>Productos agregados hasta el momento:</h1>
    <ul>
      {{#each productos}}
        <li>
          {{this.title}}
        </li>
      {{/each}}
    </ul>

  {{/if}}
</div>