<form action="http://localhost:8080/api/sessions/login" , method="post">
  <input name="email" type="email" placeholder="user@email.com" />
  <input name="password" type="password" placeholder="Pa$$w0rD!" />
  <button value="submit">Loguearse</button>
  <a href="http://localhost:8080/api/sessions/github">Login con Github</a>
</form>