<form action="http://localhost:8080/api/sessions/signup" , method="post">
  <input name="first_name" type="text" placeholder="Firstname" /><br />
  <input name="last_name" type="text" placeholder="Lastname" /><br />
  <input name="email" type="email" placeholder="user@email.com" /><br />
  <input name="age" type="Number" placeholder="26" /><br />
  <input name="password" type="password" placeholder="Pa$$w0rD!" /><br /><br />
  <button value="submit">Registrarse</button>
</form>